/*
 * app-font.css - Reglas de fuente personalizada usando Fontello
 *
 * Copyright 2013 - 2017 Felipe Peñailillo <breadmaker@radiognu.org>
 *                       William Cabrera   <cabrerawilliam@gmail.com>
 *
 * Este programa es software libre; puede redistribuirlo y/o modificarlo bajo
 * los términos de la Licencia Pública General GNU tal como se publica por
 * la Free Software Foundation; ya sea la versión 3 de la Licencia, o
 * (a su elección) cualquier versión posterior.
 *
 * Este programa se distribuye con la esperanza de que le sea útil, pero SIN
 * NINGUNA GARANTÍA; sin incluso la garantía implícita de MERCANTILIDAD o
 * IDONEIDAD PARA UN PROPÓSITO PARTICULAR. Vea la Licencia Pública
 * General de GNU para más detalles.
 *
 * Debería haber recibido una copia de la Licencia Pública General de GNU
 * junto con este programa; de lo contrario escriba a la Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA 02110-1301, EE. UU.
 */

@font-face {
    font-family: 'app-font';
    src: url('../font/app-font.eot');
    src: url('../font/app-font.eot?#iefix') format('embedded-opentype'),
         url('../font/app-font.woff2') format('woff2'),
         url('../font/app-font.woff') format('woff'),
         url('../font/app-font.ttf') format('truetype'),
         url('../font/app-font.svg#app-font') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    font: normal normal normal 14px/1 app-font;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.icon-spin {
    -webkit-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.icon-radiognu:before {
    content: '\e800';
}
.icon-js:before {
    content: '\e801';
}
.icon-backspace:before {
    content: '\e802';
}
.icon-connected:before {
    content: '\e803';
}
.icon-browser:before {
    content: '\e804';
}
.icon-receiving:before {
    content: '\e805';
}
.icon-connecting:before {
    content: '\e806';
}
.icon-firefox:before {
    content: '\e807';
}
.icon-music:before {
    content: '\e808';
}
.icon-search:before {
    content: '\e809';
}
.icon-mail:before {
    content: '\e80a';
}
.icon-heart:before {
    content: '\e80b';
}
.icon-image:before {
    content: '\e80c';
}
.icon-ok:before {
    content: '\e80d';
}
.icon-info:before {
    content: '\e80e';
}
.icon-notification:before {
    content: '\e80f';
}
.icon-config:before {
    content: '\e810';
}
.icon-listeners:before {
    content: '\e811';
}
.icon-play:before {
    content: '\e812';
}
.icon-player:before {
    content: '\e813';
}
.icon-preview-play:before {
    content: '\e814';
}
.icon-stop:before {
    content: '\e815';
}
.icon-catalog:before {
    content: '\e816';
}
.icon-loading:before {
    content: '\e817';
}
.icon-frown:before {
    content: '\e818';
}
.icon-css3:before {
    content: '\e819';
}
.icon-gittip:before {
    content: '\e81a';
}
.icon-error:before {
    content: '\e81b';
}
.icon-html5:before {
    content: '\e81c';
}
.icon-star:before {
    content: '\e81d';
}
.icon-reload:before {
    content: '\e81e';
}
.icon-disconnected:before {
    content: '\e81f';
}
.icon-preview-stop:before {
    content: '\f28e';
}
